// backgrounds colors
$primary-bg : #2979ff;
$primary-dark-bg : #004ecb;
$primary-light-bg : #75a7ff;
$secondary-bg : #1de9b6;
$secondary-dark-bg : #00b686;
$secondary-light-bg : #6effe8;

//fonts colors
$primary-font-color : #f5f5f5;
$secondary-font-color : #fdd835;